*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

/* above all are common css */

.container{
    background: #120C23;
    padding: 10px 20px;
}

.header_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-family: poppins;
    font-weight: bold;
    font-size: 28px;
    color: white;
}

.menu a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: poppins;
    margin-left: 20px;
    transition: .4s ease;
}

.menu a:hover{
    color: #00DCDC;
}

.banner_items{
    display: flex;
}

.banner_items .right img{
    width: 365px;
    height: 455px;
}

.banner_items .left h2{
    color: white;
    margin-top: 77px;
    font-size: 50px;
    font-family: poppins;
}

.banner_items .left h3{
    color: #00DCDC;
    font-size: 32px;
    font-family: poppins;
    line-height: 20px;
}

.banner_items .left p{
    font-family: poppins;
    font-size: 15px;
    line-height: 120%;
    margin-top: 45px;
    color: white;
    text-align: justify;
}
.btn{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 50px;
}

.btn .left_btn a{
    background: #00F3E5;
    padding: 5px 30px;
    border-radius: 5px;
    font-family: poppins;
    font-size: 20px;
    color: #120C23;
    transition: .4s ease;
}

/* left btn hover */

.btn .left_btn a:hover{
    background: #ffffff;
    color: 00f3E5;
}
.btn .right_btn a{
    background: #00F3E5 transparent;
    padding: 4px 30px;
    border-radius: 5px;
    border: 2px solid #00f3e5;
    font-family: poppins;
    margin-left: 64px;
    font-size: 20px;
    color: #00F3E5;
    transition: .4s ease;
}

.btn .right_btn a:hover{
    background: #00F3E5;
    color: #120C23;
}